# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*py~
*swp

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter and iPython notebook checkpoints
*.ipynb_checkpoints

# Spyder app workspace config file
.spyderworkspace